@model ServiceBus.Thing

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
    <body>
        @using (Html.BeginForm("Save", "Home", FormMethod.Post))
        {
            <div>
                <div>
                    Name: @Html.TextBoxFor(m => m.Name)
                </div>
                <div>
                    <label>Publish? @Html.CheckBoxFor(m => m.Publish)</label>
                    <label>Add to Queue? @Html.CheckBoxFor(m => m.PutToQueue)</label>
                </div>
            </div>
            <input type="submit" value="Go"/>
        }

    </body>

    
</html>
